<form action='/login' method='post'>
    <label>Email:
    <input type='text' name='user[email]'></label>
    <br>
    <label>Password:
    <input type='password' name='user[password]'></label>
    <br>
    <input type='submit' value='login'>
</form>