<link rel="stylesheets" href="/stylesheets/newteam.css" type="text/html">
<h1 id="header"> Please Create a New Team</h1>
    <form action="/teams/new" method="POST"> 
    <label> Team Name</label> <input type='name' name='team_name'>
    <br>
    <br>
    Please select Pokemon from the <a href='/pokedex'>Pokedex</a> to populate your team after creation.
    <br>
    <input type='submit' value='Create'>
    </form>
